---
import Social from './Social.astro';

const platform = "github";
const username = "withastro";
---

<footer>
  <p class="text-green-500 hover:text-black hover:bg-green-500 px-1 py-1/2 w-max">Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a></p>
  <Social platform="Instagram" username="jarvyes" />
</footer>