---
import "../styles/global.css";
import Icon from './Icon.astro';
---
<div class="fixed top-3/4 left-1/2 transform -translate-x-1/2 bg-black p-1 rounded-full opacity-30 hover:opacity-100 transition duration-500 ease-in-out">
    <Icon src="house.png" />
    <Icon src="file-down.png" />
    <Icon src="github.png" />
    <Icon src="linkedin.png" />
</div>