---
import "../styles/global.css";
import Icon from './Icon.astro';
---
<div class="fixed flex top-3/4 left-1/2 transform -translate-x-1/2 bg-black p-1 rounded-full opacity-30 hover:opacity-100 transition duration-500 ease-in-out w-auto ">
    <Icon src="house.png" link="/" />
    <Icon src="file-down.png" link="" />
    <Icon src="github.png" link="https://github.com/Jarvyes14"/>
    <Icon src="linkedin.png" link="https://www.linkedin.com/in/javier-barcel%C3%B3-santos-477a93301/" />
</div>